<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= fa_icon('users') %> Users Info</h5>
        <p class="text-justify">Get to explore the User List and Register new Users with option to Enable Admin Role for Users.</p>
        <p class="card-text font-weight-bold text-right">Total Users: <%= @users.size %></p>
        <%= link_to 'Explore Users', users_path, class: "btn btn-dark" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= fa_icon('shield-alt') %> Secret Code Info</h5>
        <p class="text-justify">Check out the list of all the Secret Code Available and Generate new if you have the Authority.</p>
        <p class="card-text font-weight-bold text-right">Total Codes Generated: <%= @secret_codes.size %></p>
        <%= link_to 'List Secret Codes', secret_codes_path, class: "btn btn-dark" %>
      </div>
    </div>
  </div>
</div>
